/* Reset */
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  font-size: 12px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h2 {
  font-size: 3.2rem;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100px;
  height: 100px;
}

p {
  font-size: 1.2rem;
}


/* Main Styling */
body {
  background-image: url("../images/backgrounds/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* Header */
.navigation {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: solid 2px #00dfe6;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navigation__link {
  font-size: 1.3rem;
  color: #00dfe6;
  padding: 2rem 1rem;
}

/* States */
.navigation__link:hover,
.active {
  background-color: #00dfe6;
  color: black;
  transition: all 0.2s ease-in-out;
}

/* Main Content */
.main-content {
  color: white;
  margin: 0 2rem;
}
/* Introduction */
.main-content__introduction {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction__title, .content-section__title, .about-section__title, .portfolio-section__title{
  font-size: 5rem;
}

.introduction__content-container p {
  font-size: 1.2rem;
}

.tech-section__gallery, .language-section__gallery {
  background-color: #00dee640;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 2rem 0;
  border-radius: 1rem;
}

.gallery__card {
  display: inline-block; /*Allows me to set width and height of each card*/
  background-color: #006C70;
  margin: 1rem;
  padding: 1rem;
  border: solid transparent 2px;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}

.gallery__card:hover {
  border: solid #00dfe6 2px;
}

.main-content_portfolio-section, .main-content_about-section, .main-content_contact-section {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Footer */
.footer {
  background-color: #006C70;
  border-top: solid 2px #00dfe6;
  height: 100%;
  padding: 10px 6px;
}

@media screen and (min-width: 810px ) {
  .tech-section__gallery, .language-section__gallery {
    overflow: hidden;
  }
}